@import '../../assets/stylesheets/library';
.login__card {
	position: absolute;
	top: 100px;
	right: 0;
	width: 375px;
	background-color: #fff;
	.card__header {
		padding: 20px 20px;
		border-bottom: 1px solid #d7dbe0;
		.clearfix()
	}
	.card__tit {
		float: left;
		padding-left: 16px;
		
		height: 24px;
		font-size: 24px;
		line-height: 24px;
		border-left: 2px solid #32a9f2;
	}
	.card__tip {
		float: right;
		margin-top: 5px;
		height: 14px;
		font-size: 14px;
		line-height: 14px;
		a,
		a:hover,
		a:active {
			color: #3793df;
		}
	}
	.card__body {
		
	}
}