@import '../../../assets/stylesheets/library';
@import '../../../assets/stylesheets/form';
.recharge{
  .form__wrapper{
    .form__bar{
      dd{
        text-align: left;
        input{
          width: 265px;

        }
        .unit{
          left: 240px;
        }
      }
    }
  }
  .ant-form-item-label{
    padding-right: 20px;
  }

  .about_bankCard{
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid @color-border;
    p{ font-size: 12px;
      .text-primary{
        color:@color-primary
      }
    }
    .member_card{
      margin-bottom: 20px;
    }
  }
}

