@import '../../../../assets/stylesheets/library';
.ant-modal-wrap{
  .ant-modal-body{
    .table__wrapper{
      margin-top: 0;
      height:500px;
      overflow-y: auto;
      .tableList {
        tr{
          height: 38px;
        }
        td{
          font-size: 12px;
        }
      }
    }
  }
}
.pop__repayment{
  height: 500px;
  padding: 20px 30px;
}
