@import '../../../assets/stylesheets/library';
.main.invest-list {
    .tablist {
        .tabs__nav {
            .tab {
                width: 160px;
            }
        }
    }
    .filter {
        margin-bottom: 20px;
        .filter__opt {
            cursor: pointer;
        }
    }
}

