@import '../../../assets/stylesheets/library';
.main.invest-list {
  margin-top: 20px;
  margin-bottom: 60px;
  .tablist {
    .tabs__nav {
      .tab {
        width: 160px;
      }
    }
  }
  .filter {
    margin-bottom: 20px;
    .filter__opt {
      cursor: pointer;
    }
  }
}

