@import '../../assets/stylesheets/library';
@import '../../assets/stylesheets/form';
.tips_404{
  width:600px;
  height:100%;
  margin:0 auto;
        img{
          margin: 50px auto 20px auto;
      }
      p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 40px;

        a {
          display: inline-block;
          padding: 5px 25px;
          background: #31aaf5;
          color: #fff;
          text-decoration: none;
          border-radius: 3px;
          margin: 0 10px
        }
      }
      h2{
        font-size:24px;
        text-align:center;
        margin: 30px auto;
      }

}
.tips_thirdParty{
  font-size: 18px;
  margin: 0 auto;
  //padding: 30px 30px;
  text-align: center;
  .form__wrapper{
    .form__bar{
      padding: 20px 0;
    }
  }

  .ant-btn-primary.btn{
    display: inline-block;
    min-width: 180px;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background: @btn-color-able;
    border: none;
    color: #fff;
    margin: 0 10px;
    text-align: center;
  }

}
