@import '../../assets/stylesheets/library';
.main.signup {
	height: 700px;
	background-color: #fd3246;
	.wrapper {
		position: relative;
	}
	form {
		margin-top: 24px;
		padding: 0 20px;
		.imageCode__img {
			display: block;
			margin-top: (32px - 26px) / 2;
			cursor: pointer;
		}
		.login-form-forgot {
		  float: right;
		}
		.login-form-button {
		  width: 100%;
		}
	}
}
