@import './library';
@import './global';
@import './top';
@import './navbar';
@import './footer';
@import './pagination';
@import './tablelistStyle';
@import './tab';

html {
    background: #edf1f5;
}

.ow {
    margin-top: 20px;
    overflow: hidden;

    .tableTitle {
        width: 100%;
        height: 98px;
        font-size: 28px;
        color: @color-default;
        text-align: center;
        line-height: 98px;
        background: url(../images/constantTable/titleBg.jpg) repeat;
    }

    .tableContent {
        padding: 30px;
        background: @color-default;

        .tableInfo {
            padding: 20px 0;
            .tableLine {
                margin: 33px 0;
                overflow: hidden;


                .tableCell {
                    width: 373px;
                    height: 100%;
                    background: url(../images/constantTable/borderDashed.png) center right no-repeat;
                    float: left;
                    &:after {
                        display: inline-block;
                        content: '';
                        height: 100%;
                        vertical-align: middle;
                    }
                    &:nth-child(3n) {
                        background: none;
                    }

                    > * {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    i {
                        font-size: 42px;
                        color: #9dbddb;
                        margin-right: 30px;
                        margin-left: 70px;
                    }

                    > div {
                        div {

                            font-size: 14px;
                            color: #45484d;

                            span {
                                font-size: 30px;
                            }
                        }

                        p {
                            font-size: 14px;
                            color: #81868f;
                        }
                    }

                }
            }
        }

        .tableDetails {

            .tableDetails__title {
                font-size: 18px;
                color: #45484c;
                text-indent: 18px;
                line-height: 18px;
                border-left: solid 2px #31aaf5;
            }

            .tableDetails__info {
                width: 100%;
                height: 130px;
                background: url(../images/constantTable/tableBg.jpg) repeat;
                margin-top: 24px;

                .infoLine {
                    &:first-child {
                        padding: 34px 0 10px;
                    }
                    &:last-child {
                        padding: 10px 0 0;
                    }

                    .infoCell {
                        display: inline-block;
                        width: 276px;
                        font-size: 14px;

                        span {
                            display: inline-block;
                            &:first-child {
                                width: 126px;
                                color: #81868f;
                                text-align: right;
                                margin-left: 40px;
                            }
                            &:last-child {
                                color: #45484c;
                            }
                        }

                    }
                }
            }

        }
    }

    .tableArea {
        margin-top: 20px;

        .tabs__nav {
            width: 100%;
            background: #f7f9fa;
            .tab {

            }
            .tab--active {
                color: @text-color-default;
                background: @color-default;
                border-right: solid 1px #e6eaf0;
                &:before {
                    content: '';
                    display: block;
                }
            }
        }

        .tableBlock {
            padding: 30px;
            background: @color-default;
            .tableList {
                margin-top: 40px;
            }
        }

    }

    .pagination {
        background: @color-default;
    }
}

