@import './library';
.errorMessages{
  color:@text-color-error ;
  &:before {
    content: "\E614";
    padding-right: 10px;
    font-family: iconfont;
    font-size: 14px;
  }
}
.button(){
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  border: none;
  padding: 0;
  outline: none;
  color: #fff;
  border-radius: @btn-radius;
  margin: 0 auto;
  &.able{
    background: #31aaf5;
    &:hover{
      background: #65c0f8;
    }
  }
  &.unable{
    background: #b9c3cd;
  }
}
.ant-btn-primary{
  background-color:@btn-color-able;
  border-color:@btn-color-able;
  border-radius: 3px;
  &.btn{
    height: 48px;
    line-height: 48px;
    font-size: 18px;
  }
  &.pop__large{
    .clearfix();
    display: inline-block;
    width:200px;
    height:40px;
    font-size: 16px;
    margin: 0 auto;
    //left:50%;

  }
  &.pop__wp100{
    .clearfix();
    display: block;
    width:100%;
    height:40px;
    font-size: 16px;
    margin: 0 auto;
    //left:50%;

  }
  &.large{
    display: inline-block;
    height:48px;
    font-size: 18px;
    margin: 0 auto;
  }
  &.wp100{
    width:100%;
    height:48px;
    font-size: 18px;
  }

}
.form__wrapper{
  //定义验证样式
  .ant-form-item-required:before{
    color: @text-color-error
  }//必填星号
  .has-error.has-feedback:after{
    content: none;
  }//填写错误，input后不显示X
  .has-error .ant-form-explain, .has-error .ant-form-split {
    color: @text-color-error;
  }//错误文字
  .has-error .ant-input, .has-error .ant-input {
    border-color: @text-color-error;
    &:hover{
      border-color: #f04134;
    }
  }
  .ant-form-item.price{
    .ant-input{
      font-size: 14px;
      color:@text-color-default;
      text-align: right;

    }
    .has-success{
      &:after{
        content: '';
        color: @text-color-right;
      }
    }
  }
  .has-feedback{

    &.has-success{
      &:after{
        content: '\E630';
        color: @text-color-right;
      }
    }

  }

  .result_tips{
    font-size: 16px;padding: 30px 0;
  }
.center{
  text-align: center;
  .pop__large{
    margin: 0 10px 20px 10px;
  }
}
  .mp{
    margin-top: 20px;
  }
  .tips{
    margin: 10px auto;
    min-height: 30px;
    line-height: 20px;
    color: @text-color-error;
    font-size: 12px;
    /*&:before {
      content: '\E614';
      color: @text-color-error;
      font-family: iconfont;
    }*/
  }
  //end
  //padding: 30px 30px;
  .form__bar{
    width: 100%;
    min-height: 30px;
    padding: 5px 0;
    .clearfix();
    i{
      font-style: normal;
    }
    &.center{
      text-align: center;

    }
    dt{
      width: 25%;
      float: left;
      text-align: left;
      label {
        display: inline-block;
        float: left;
        width: 100%;
        line-height: 34px;
        font-size: 14px;
        color: #81868f;
      }
    }
    dd{
      width: 75%;
      float: right;
      line-height: 34px;
      text-align: right;
      position: relative;
      .textInput{
        width: 100%;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        color: #555;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid #e6eaf0;
        box-sizing: border-box;
        &:focus {
          border: 1px solid #31aaf5;
          outline: none;
        }
        &.moneyInput{
          text-align: right;
          padding-right: 40px;
          font-size: 16px;
        }
      }
      .unit{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 3px;
        right: 5px;
        color: @color-page-btn-active;
        font-size: 14px;
      }
      .money{
        font-style: normal;
        font-size: 16px;
      }


    }

  }

  a{
    color:#31aaf5
  }
   .button{
     .button();
   }
   .pop-button{
     .button();
     &[disabled] {
       cursor: not-allowed;
       background: #b8c4cc;
     }
     &.wp100{
       width:100%;
       .clearfix
     }
     &.block{
       width:300px
     }
   }


}