@import './library';
.form_bar {
  width: 100%;
  //height: 34px;
  min-height: 34px;
  //line-height: 34px;
  padding: 8px 0;
  background: #fff;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
  .clearfix();
  label {
    display: inline-block;
    float: left;
    width: 77px;
    line-height: 34px;
    font-size: 14px;
    color: #81868f;
  }
  .textInput {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    color: #555;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #e6eaf0;
    box-sizing: border-box;
    &.w210 {
      width: 210px;
    }
    &.w130 {
      width: 130px
    }
    &:focus {
      border: 1px solid #31aaf5
    }
  }
  .vCode {
    float: right;
    width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: 2px;
    cursor: default;
  }
  .yz_button_able {
    background: #56d197;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
  }
  .yz_button_enable {
    background: #a4a4a4;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
  }
  .radio_switchbtn {
    cursor: default;
    display: inline-block;
    &.active {
      color: #45484c;
      &:before {
        font-family: "iconfont";
        content: "\e67f";
      }
    }
    &:before {
      font-family: "iconfont";
      content: "\e67e";
    }
  }
  .btn {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #31aaf5;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer
  }
  .btn_unable {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    background: #b9c3cd
  }
  select {
    height: 32px;
    color: #45484c;
    border: 1px solid #e6eaf0;
    padding: 0 10px;
    border-radius: 3px;
  }
  .unit{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 0px;
    color: @color-page-btn-active;
    font-size: 14px;
  }
}

.form_tips {
  width: 100%;
  height: 30px;
  .tips {
    line-height: 30px;
    font-size: 14px;
    color: #ff6666;
    display: none;
    &:before {
      content: "\e614";
      padding-right: 10px;
      font-family: iconfont;
      font-size: 14px;
    }
  }
}

.form_accept{
  font-size: 14px;
}