@import './library';
@import './global';
@import './top';
@import './navbar';
@import './tab';
@import './footer';
@import './filter';
@import './pagination';
@import './tablelistStyle';

.main {
	.tablist {
		margin-top: 20px;
		.filter {
			margin-bottom: 20px;
		}
		.table__wrapper {
			background-color: @color-default;
		}
	}
}