.myMessage {
  .check:before{ font-family: "iconfont";font-size:14px;content: "\e60b";color:#bebebe}
  .checked:before{ font-family: "iconfont";font-size:14px;content: "\e60a"; color:#3b9ed9}
  .noread{ color:#ffb657}
  .tab_content table{ width:100%}
  .tab_content table th{ height:45px; background:#f5f7fa; text-align:center}
  .tab_content table tr{height:45px; text-align:center; background:#fff; cursor:default}
  .tab_content table tr.hover{background:#f7f9fa}
  #table td{ font-size:14px}
  #table td a{ padding:0 5px}
  #table p.title {width:400px;white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; text-align:left;padding:0 20px 0 50px }
  .m-content .record .query{ padding:0 0 20px 0}
  .detail{ display:none}
  .detail td{ background:#e6ebf0; padding:10px 65px; text-align:left; line-height:20px; color:#3d444c}
  #allcheck{cursor:default; padding:0 15px 0 5px};
  #btn_read{ padding: 0 15px 0 0; color:#3793df; display:inline-block}
  .tab_content table td .btn_del{ color:#81868f; display:inline-block}

  .control{ padding:20px 10px}
  .tab_content{
    .list{
      width: 930px;
      ul{
        width: 100%;
        &.thead{
          text-align: center;
          background: #f5f7fa;
        }
        li{
          float: left;
          line-height: 20px;
          padding: 12px 0;
          &:nth-of-type(1){
            width:30px;
            text-align: center;
          }
          &:nth-of-type(2){
            width:50px;
            text-align: center;
          }
          &:nth-of-type(3){
            width:150px;
            text-align: center;
            p{
              width: 90px;
              text-align: center;
              margin: 0 auto;
              .te;
            }
          }
          &:nth-of-type(4){
            width:470px;
            text-align: left;
            .te;
          }
          &:nth-of-type(5){
            width:170px;
            text-align: center;
          }
          &:nth-of-type(6){
            width:50px;
            text-align: center;
          }
        }
        .clearfix;
      }
      .article{
        /*display: none;*/
        background: #e6ebf0;
        padding: 15px 45px;
        line-height: 22px;
      }

    }
  }

  .del_botton{
    color: #fff;
    background-color: #2aa4ea;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
  }


}