@import './library';
@import './form';
.ant-modal-wrap.custom {
	.ant-modal-title{
		font-size: 16px;
		color: @text-color-primary;
	}
	.ant-modal-body{
		padding: 0;
	}
	&.vertical-center-modal {
		text-align: center;
		white-space: nowrap;
	}

	&.vertical-center-modal:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		width: 0;
	}

	&.vertical-center-modal .ant-modal {
		display: inline-block;
		vertical-align: middle;
		top: 0;
		text-align: left;
	}


}
.ant-modal-header{
	background-color: #b8c2cc;
	border-bottom: 1px solid #eee;
	height: 50px;
	.ant-modal-title{
		font-size: 16px;
		color:#fff;
	}
}

.pop{
	padding: 0px 0px;

	.form__wrapper{
      margin-top: 30px;
		.ant-form-item{
			margin-bottom: 12px;
		}
		.ant-form-item-label {
			text-align: left;
			label{
				font-size: 14px;
				color: @text-color-help;
			}
		}
		.ant-alert{
			min-height: 120px;
			padding: 90px 30px 30px 30px;
			text-align: center;
			.ant-alert-icon{
				font-size: 56px;
				left: calc(~"50% - 28px");
				top:20px
			}
			.ant-alert-description{
				font-size: 14px;
				text-align: center;

			}
			.ant-alert-message{
				margin-top: 50px;
				font-size: 24px;
				text-align: center;
			}

		}
		.agreement{
			.ant-checkbox-wrapper{
				display: inline-block;
			}
		}
	}

	.pop__certification{
		.form__wrapper{
			padding: 0 50px;
		}
	}
	.pop__password{
		.form__wrapper{
          padding: 0 50px;
		}
	}
	.pop__openOther{
		padding: 30px 50px;
		.errorMessages{
			text-align: center;
			font-size: 14px;
		}
	}
	.ant-modal-body{
		.pop__password{
			padding: 30px;
			height: 300px;
			.pop__large{
				display: block;
				margin: 0 10px;
			}
	}
	}
	.ant-steps{
		padding: 30px 30px 0 30px;
		.form__wrapper{
			padding: 30px 30px;
		}
		.ant-steps-item {
			.ant-steps-title {
				font-size: 16px;
			}
			&.ant-steps-status-process{
				margin-bottom: 20px;
				.ant-steps-title{
					color:@text-color-default;
				}
			}
		}

	}
	.ant-col-10{
		.ant-btn-lg{
			width:100%
		}
	}
	.pop__invest{
		box-sizing: border-box;
		//height:400px;
		padding: 0px 30px 0 30px;
		.ant-collapse{
			.ant-collapse-item{
				border-bottom: none;
				&.collapse-item-active{
					border-bottom: none;
				}
				.ant-collapse-header{
					padding: 8px 0 8px 0px;
					.arrow{
						right:0;
						/*&:before{
							content: "\E61F"
						}*/
					}
					&:hover{
						color:@text-color-primary;
						background: none;
					}
				}
				.ant-collapse-content{
					border-top:none;
					padding: 0 0;
					.ant-collapse-content-box{
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}
			}
		}


		.rewardList{
			max-height: 100px;
			overflow: auto;
			ul{
				.clearfix();
				li{
					float: left;
					&:nth-child(1){
						width:20px;
					}
					&:nth-child(2){
						width:120px;
					}
					&:nth-child(3){
						//width:150px;
					}
				}
			}

		}

	}
	.pop_steps{
		//height: 400px;
		padding: 30px 40px;
	}
	.pop__riskAssess{
		height: 560px;
		box-sizing: border-box;
		overflow-y: auto;
		padding: 0px 0px;
		.riskAssess__tips{
			padding: 40px 40px;
			dl{
				dt{
					font-size: 16px;
					text-align: center;
					margin-bottom: 30px;
				}
				dd{
					font-size: 14px;
					line-height: 24px;
					margin-bottom: 20px;
					img{
						width: 150px;
						display: inline-block;
						margin: 0 auto;
					}
				}
			}
		}
		.form__wrapper{
			margin-top: 0px;
			padding-bottom: 30px;
		}
		.tips{ padding-left: 20px}
		.controls{
			dt {
				line-height: 20px;
				background: #f5f7fa;
				padding: 8px 50px 8px 30px;
				p{display: inline-block;}
				.error{
					display: inline-block;
					color: @text-color-error ;
					font-size: 14px;
					margin: 0px 0 0 10px;
					float: right;
				}
			}
			dd {
				padding: 10px 30px;
				label {
					line-height: 26px;
					display: block;
				}
			}


		}

		.ant-radio-inner{
			width: 14px;
			height: 14px;
		}
		.center{
			text-align: center;
			.button{
				width: 50%;
				margin: 0 auto;
			}
		}
	}
	.pop__recharge{
		padding: 10px 30px 30px 30px;
	}
	.pop__repayment{
		padding:0px 30px;
		.form__bar{
			padding: 5px 0;
		}
	}
	.pop__transferApp{
		padding:0px 30px;
	}
	.pop__loanApp{
		.form__wrapper .has-success.has-feedback:after{
			content: none;
		}
		.has-error {
			.ant-select-arrow{
				right:7px
			}
		}

		.ant-select-selection {
			.ant-select-arrow{
				right:7px
			}
		}
		.fl{
			float: left;
			width:350px;
			padding: 0 0px 0 30px;
		}
		.fr{
			width:300px;
			height: 350px;
			padding:0 30px ;
			border-left: 1px dashed #e6eaf0;
			float: right;
			.member_info {
				padding-bottom: 10px;
				border-bottom: 1px dashed #e6eaf0;
				li {
					height: 24px;
					font-size: 14px;
					color: #b8bfcc;
					strong {
						display: inline-block;
						width: 80px;
						color: #81868f;
						text-align: left;
						padding-right: 5px;
					}
				}
			}
			dl{
				dt{
					height: 30px;
					line-height: 30px;
					color: #81868f;
					font-size: 14px;
					padding-top: 5px;
					h3 {
						color: #45484c;
						font-size: 14px;
						display: inline-block;
					}
				}
				dd {
					line-height: 1.6;
					color: #81868f;
					font-size: 14px;
				}
			}
		 }
	}

}
