@import './library';
@import './form';
.ant-modal-wrap.custom {
	.ant-modal-title{
		font-size: 16px;
		color: @text-color-primary;
	}
	.ant-modal-body{
		padding: 0;
	}
	&.vertical-center-modal {
		text-align: center;
		white-space: nowrap;
	}

	&.vertical-center-modal:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		width: 0;
	}

	&.vertical-center-modal .ant-modal {
		display: inline-block;
		vertical-align: middle;
		top: 0;
		text-align: left;
	}


}
.ant-modal-header{
	background-color: #b8c2cc;
	border-bottom: 1px solid #eee;
	height: 50px;
	.ant-modal-title{
		font-size: 16px;
		color:#fff;
	}
}
.pop{
	padding: 30px 30px;
	.ant-form-item-label {
		label{
			font-size: 14px;
			color: @text-color-help;
		}
	}
	.ant-modal-body{
		.pop__password{
			padding: 30px;
			height: 300px;
			.pop__large{
				display: block;
				margin: 0 auto;
			}
		}
	}
	.ant-steps{
		.ant-steps-item {
			.ant-steps-title {
				font-size: 16px;
			}
			&.ant-steps-status-process{
				.ant-steps-title{
					color:@text-color-default;
				}
			}
		}

	}


}
