@import './library';
.member__main{
  //红包
  .redBagList{
    width:100%;
    margin: 20px 0 0 0;
    li{
      height:118px;
      margin-bottom:20px;
      overflow:hidden;
      position:relative;
      .img {
        display: inline-block;
        width: 249px;
        height: 118px;

        position: absolute;
        top: 0;
        left: 0;
        .denomination{
          font-size:62px;
          line-height: 62px;
          color:#fff283;
          padding:0px 0 0 50px
        }
        .remark{
          display:inline-block;
          width:80px;
          height:81px;
          position:absolute;
          top:0;
          left:190px;
        }
        &.fxhb{
          background: url(../images/account/redbg_fx.png) top left no-repeat;
        }
        &.xjhb{
          background: url(../images/account/redbg_xj.png) top left no-repeat;
        }
      }
      .txt {
        width: 600px;
        height: 80px;
        border: 1px dashed #e6eaf0;
        float: right;
        padding: 18px 20px 18px 74px;
        box-sizing: content-box;
        p {
          height: 36px;
          line-height: 36px
        }
        strong {
          color: #81868f
        }
        .fl {
          width: 190px;
          float: left
        }
        .fr {
          width: 410px;
          float: right
        }
      }
      &.reStatus-0{
        .img{
          &.fxhb{
            background: url(../images/account/redbg_fx2.png) top left no-repeat;
          }
          &.xjhb{
            background: url(../images/account/redbg_xj2.png) top left no-repeat;
          }
          .remark{
            background:url(../images/account/notActive.png) top left no-repeat;
          }
          .denomination{
            color:#fff
          }
        }
      }
      &.reStatus-1{
        .img{
          .remark{
          }
          .denomination{
            color:#fff
          }
        }
      }
      &.reStatus-2{
        .img{
          &.fxhb{
            background: url(../images/account/redbg_fx2.png) top left no-repeat;
          }
          &.xjhb{
            background: url(../images/account/redbg_xj2.png) top left no-repeat;
          }
          .remark{
          }
          .denomination{
            color:#fff
          }
        }

      }
      &.reStatus-3{
        .img{
          &.fxhb{
            background: url(../images/account/redbg_fx2.png) top left no-repeat;
          }
          &.xjhb{
            background: url(../images/account/redbg_xj2.png) top left no-repeat;
          }

          .remark{
            background:url(../images/account/expired.png) top left no-repeat;
          }
          .denomination{
            color:#fff
          }
        }
      }
    }
  }
  //加息券
  .couponList{
    width:100%;
    margin: 20px 0 0 0;
    li{
      height:118px;
      margin-bottom:20px;
      overflow:hidden;
      position:relative;
      .img {
        display: inline-block;
        width: 249px;
        height: 118px;
        background: url(../images/account/Couponbg.png) top left no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        .denomination{
          font-size:62px;
          line-height: 62px;
          color:#fff;
          padding:10px 65px 0 0;
          text-align: right
        }
        .remark{
          display:inline-block;
          width:80px;
          height:81px;
          position:absolute;
          top:0;
          left:190px;
        }
      }
      .txt {
        width: 600px;
        height: 80px;
        border: 1px dashed #e6eaf0;
        float: right;
        padding: 18px 20px 18px 74px;
        box-sizing: content-box;
        p {
          height: 36px;
          line-height: 36px
        }
        strong {
          color: #81868f
        }
        .fl {
          width: 190px;
          float: left
        }
        .fr {
          width: 410px;
          float: right
        }
      }
      &.reStatus-0{
        .img{
          background: url(../images/account/Couponbg2.png) top left no-repeat;
          .remark{
            background:url(../images/account/notActive.png) top left no-repeat;
          }
          .denomination{
            color:#fff
          }
        }
      }
      &.reStatus-1{
        .img{
          .remark{
          }
          .denomination{
            color:#fff
          }
        }
      }
      &.reStatus-2{
        .img{
          background: url(../images/account/Couponbg2.png) top left no-repeat;
          .remark{
          }
          .denomination{
            color:#fff
          }
        }

      }
      &.reStatus-3{
        .img{
          background: url(../images/account/Couponbg2.png) top left no-repeat;
          .remark{
            background:url(../images/account/expired.png) top left no-repeat;
          }
          .denomination{
            color:#fff
          }
        }
      }


    }
  }

}