@import './library';
.ant-modal-body{
  padding: 0;
}
.sbDetail {
  .tablist {
    .tabs__nav {
      .tab {
        width: 160px;
      }
    }
  }

  //总览
  .master{

    width: 1180px;
    background: #fff;
    margin: 20px auto;
    border: 1px solid #e6eaf0;
    .info {
      width: 799px;
      height: 380px;
      border-right: 1px solid #e6eaf0;
      float: left;
      .title {
        height: 66px;
        line-height: 66px;
        background: #f7f9fa;
      }
      h2 {
        width: 146px;
        height: 66px;
        font-size: 24px;
        float: left;
        background: #a7b5cd;
        color: #fff;
        text-align: center
      }
      p {
        width: 620px;
        height: 380px;
        float: right;
        font-size: 16px;
        color: #81868f
      }
    }
    .content {
      position: relative ;
      .item1 {
        width: 260px;
        height: 130px;
        position: relative;
        position: absolute;
        left: 37px;
        top: 43px;
        text-align: center }
      .item2 {
        width: 230px;
        height: 130px;
        position: relative;
        position: absolute;
        left: 300px;
        top: 43px }
      .item3 {
        width: 250px;
        height: 130px;
        position: relative;
        position: absolute;
        left: 525px;
        top: 43px
      }
      i{ font-style: normal}
      .redtxt {
        color: #2aa4ea;
      }
      .safe {
        width: 800px;
        height: 30px;
        position: absolute;
        left: 110px;
        top: 230px ;

      }
      li {
        height: 30px;
        line-height: 30px;
        float: left;
        color: #81868f;
        font-size: 14px;
        padding: 0 60px 0 0px;
        background: url(../images/invest/safe_bg.png) left top no-repeat;
      }
      .icon-star:before {
        content: "\e631";
        font-size: 16px;
        color: #6e90cf;
        padding: 0 10px 0 8px
      }
      .icon-user:before {
        content: "\e647";
        font-size: 16px;
        color: #6e90cf;
        padding: 0 10px 0 7px
      }
      .icon-heart:before {
        content: "\e632";
        font-size: 15px;
        color: #6e90cf;
        padding: 0 10px 0 7px
      }
      .icon-money:before {
        font-size: 18px;
        color: #6e90cf;
        padding: 0 10px 0 7px
      }
      .progressbar {
        width:600px;
        height:40px;
        text-align:center;
        margin:0 auto;
        position:absolute;
        left:60px; top:160px;
        border: none;
        dt {
          width: 510px;
          height: 2px;
          background: #e5e5e5;
          position: relative;
          float: left;
          margin-top: 30px
        }
        .finished {
          height: 2px;
          background: #32a9f2;
          border-radius: 10px;
          position: absolute;
          left: 0;
          top: 0;
          text-align: right;
          .iconfont {
            display: inline-block;
            color: #9db3db;
            font-size: 18px;
            margin-right: -7px
          }
        }
        strong {
          display: inline-block;
          width: 150px;
          position: absolute;
          left: 523px;
          top: 20px;
          font-size: 14px;
          em{
            color: #2aa4ea;
          }
        }
      }
      .subtitle {
        font-size: 14px;
        color: #81868f;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        text-align: center
      }
      dd {
        color: #45484c;
        font-size: 18px;
        padding-top: 33px;
        text-align: center
      }
      .item1 dd {
        color: #2aa4ea;
        font-size: 24px;
        position: relative;
        padding-top: 0px;
      }
      i {
        font-size: 30px;
        color: #45484c
      }
      .item1 i {
        font-size: 60px;
        color: #2aa4ea;
      }
      .addtips {
        position: absolute;
        top: -20px;
        left: 170px;
        background: url(../images/invest/index_tips.png) 0px bottom no-repeat;
        padding-bottom: 1px
      }
      .addtips strong {
        background: #32a9f2;
        color: #fff;
        font-size: 12px;
        padding: 2px 5px;
        border-radius: 4px
      }

    }
    //投资区
    .m-invest{
      width: 310px;
      height: 320px;
      box-sizing: content-box;
      float: right;
      padding: 25px 35px 0 0;
      .btn {width: 100%;
        height: 48px;
        line-height: 48px;
        background: #31aaf5;
        font-size: 18px;
        text-align: center;
        border-radius: 3px;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
      }
      a {
        color: #3793df;
      }
      li {
        line-height: 28px;
      }
      .m-amount li {
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        color: #45484c
      }
      .m-amount li strong {
        font-size: 14px;
        color: #81868f
      }


      .others {
        margin-bottom: 15px;
        font-size: 14px;
        li {
          text-align: right
        }
        strong {
          color: #81868f
        }
        .iconfont {
          font-size: 15px;
          color: #81868f
        }
        #money {
          color: #2aa4ea;
          font-style: normal
        }
      }
    }
    a.btn{
      display:block;
      &:hover{
        background:#65c0f8
      }
    }
    .clearfix();
  }
  .steps {
    width: 1180px;
    height: 125px;
    margin: 20px auto;
    padding:35px 0 0 0;
    border: 1px solid #e6eaf0;
    background: #fff;
    li {
      width: 25%;
      height: 90px;
      float: left;
      text-align: center;
      line-height: 22px;
      color: #81868f;
      i {
        display:inline-block;
        float:left;
        margin:0 20px 0 30px
      }
      .iconfont {
        background: #eff7ff;
        width: 64px;
        height: 64px;
        display: inline-block;
        border-radius: 37px;
        margin-bottom: 10px;

        &:before {
          font-size: 36px;
          line-height: 64px;
          color: #557dc7; }
      }
      .icon-1:before{
        content: "\e663";
      }
      .icon-2:before{
        content: "\e643";
      }
      .icon-3:before{
        content: "\e642";
      }
      .icon-4:before{
        content: "\e615";
      }
      dl{
        text-align:left;
        padding-top:10px;
        dt{
          color: #45484c;
          font-size:16px;
          em{
            color:#3793df;
            font-size:12px
          }
        }
        dd{
          font-size: 14px;
        }
      }
    }

  }
  .tab_info {
    background: #fff;
    border-bottom: 1px solid #e6eaf0;
    margin-bottom: 60px;
    .tabs__nav{
      background: #f7f9fa;
      .tab--active{
        background: #fff;
      }
    }
    /*.tab_info_t {
      height: 70px;
      line-height: 70px;
      background: #f7f9fa;
      border-bottom: 1px solid #e6eaf0;
      li {
        width: 175px;
        height: 70px;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        color: #81878f;
        h3 {
          font-size: 18px;
        }
        &.on {
          height: 71px;
          background: #fff;
          color: #45484c;
          border-left: 1px solid #e6eaf0;
          h3 {
            border-top: 2px solid #31aaf5;
            border-right: 1px solid #e6eaf0 ;
          }
        }
      }
    }*/
    .tab_info_c {
      border-right: 1px solid #e6eaf0;
      border-left: 1px solid #e6eaf0;
      min-height: 910px;
      position: relative;
      padding: 0 0px ;
      .clearfix();
    }
  }
  //项目详情
  .m-intro{
    clear: both;
    dl{ margin:0 40px}
    .intro0 {
      padding: 30px 0 20px 0;
      border-bottom: 1px dashed #e6eaf0;
      margin-bottom: 30px;
      dt {
        width: 190px;
        height: 70px;
        float: left;
        line-height: 70px;
        color: #81868f;
        font-size: 16px;
        position: relative;
        img {
          position: absolute;
          top: 0px;
          left: 100px;
        }
      }
      dd {
        line-height: 28px;
        font-size: 14px;
      }
    }
    .intro{
      dt {
        height: 16px;
        padding: 30px 0 0px 0;
        box-sizing: content-box;
        h3 {
          border-left: 3px solid #31aaf5;
          font-size: 16px;
          line-height: 16px;
          color: #45484d;
          text-indent: 20px
        }
      }
      dd {
        padding: 10px 0 20px 0;
        border-bottom: 1px dashed #e6eaf0;
        font-size: 14px;
        strong {
          color: #81868f;
          padding-right: 10px;
        }
        p {
          line-height: 36px;
          width: 33%;
          float: left;
          font-size: 14px;
          &.line {
            clear: both;
            line-height: 36px;
            width: 100%;
          }
        }
        .clearfix();
      }
      .authentication{
        height: 30px;
        padding: 20px;
        li{
          width:25%;
          height: 30px;
          line-height: 30px;
          float: left;
          img{
            float: left;
            padding:0 10px 0 40px;
          }
        }
      }
      .imglist ul {
        padding: 10px 0;
        li {
          float: left;
          text-align: center;
          margin-right: 20px;
          img {
            width: 125px;
            height: 150px;
            display: block
          }
        }
      }
    }
    .m-introFooter{
      height:56px;
      line-height:56px;
      font-size:16px;
      background:#e1e8ec;
      padding:0 30px ;
      strong{
        color:#ffa837;
      }
    }
    .clearfix();
  }
  //风险提示
  .m-notice {
    padding: 40px 40px;
    color: #81868f;
    line-height: 26px;
    h3 {
      font-size: 16px;
      line-height: 40px
    }
    p {
      line-height: 26px;
      margin-bottom: 10px;
      font-size: 14px
    }
  }
  //投资记录/还款记录
  .m-record {
    padding: 30px 40px 0 40px;
  }

}