@import './library';
@btn_minus-background-color: #dce1e6;
@btn_add-background-color: #ff7e33;
@input-height: 48px;

.stepperInput{
  #button(){
    display: inline-block;
    cursor:pointer;
    width: 38px;
    height: 46px;
    position: absolute;
    border: none;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    top: 0px;
    &:focus{
      outline: none;
    }
  }
  .input__area {
    margin: 15px auto 5px auto;
    position: relative;
    input {
      display: block;
      width: 310px;

      height: @input-height;
      line-height: @input-height;
      padding: 0 75px 0 50px;
      border: 1px solid #e6eaf0;
      font-size: 24px;
      text-align: right;
      color: @color-primary;
      box-sizing: border-box;
      &:focus{
        border: 1px solid #e6eaf0;
        outline:none
      }
    }
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      left: 240px;
      color: #2aa4ea
    }
    .btn_minus {
      #button();
      left: 0;
      border-top-left-radius: @btn-radius;
      border-bottom-left-radius: @btn-radius;
      background: @btn_minus-background-color;
    }
    .btn_add {
      #button();

      right: 0;
      border-top-right-radius: @btn-radius;
      border-bottom-right-radius: @btn-radius;
      background: @btn_add-background-color;
    }
    .clearfix();
  }
}



