
/* 表格通用样式 */
.tableList {
    width: 100%;

    thead {
        background: #f5f7fa;
    }

    tr {
        height: 50px;
    }

    tbody {

        tr:nth-child(even) {
            background: #f5f7fa;
        }

    }

    th,td {
        font-size: 14px;
        font-weight: normal;
        color: #81868f;
        text-align: center;
    }
}

/* 表格通用样式 */
