.tips_noRecord{
    margin: 0 auto;
    padding: 30px;
    .icon-noRecord{
        text-align: center;
        margin: 0 auto;
    }
    .icon-noRecord:before{
        content: "\e64c";
        font-size: 48px;
        color:@text-color-help;
        padding: 0 10px 0 10px;

    }
    p{
        color:@text-color-help;
        padding: 0 0;
        text-align: center;
    }
}
.tips_loading{
    padding: 20px 0;
    color:@text-color-help;
}



