@import './library';
// 头
.top {
	background-color: @color-default;
	color: @text-color-help;
	.wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
		.clearfix();
	}
	.top__left {
		float: left;
	}

	.top__right {
		float: right;
	}

	.hotline {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.user {
		float: left;
		margin-right: 60px;
		.welcome {
			margin-right: 34px;
			color: @text-color-default;
			.username {
				letter-spacing: .1em;
			}
		}
		.logout {
		}
	}
	.unlogin {
		float: left;
		margin-right: 60px;
		color: @text-color-default;
		.login {
			margin-right: 30px;
		}
	}
	.shortnav {
		float: left;
		margin-right: 40px;
		ul {
			li {
				float: left;
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
				}
				a {
					i {
						margin-right: 6px;
						font-size: 12px;

					}
				}
			}
		}
	}
	.thirdparty {
		float: left;
		ul {
			li {
				float: left;
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: block;
					font-size: 18px;
					line-height: 18px;
					i {
						font-size: 18px;
						line-height: 18px;
					}
				}
			}
			.clearfix();
		}
	}
	
}
// 头结束